python/import.py
cache
__pycache__
.nextflow
.nextflow.log*

env
venv
tmp

backup/*
docker/*
work/*
figures/*
outs/*
local/*
fastq/*
multiqc/*
tests/*
data/*
results/*

README
LICENSE
.travis.yml
.github
.pytest_cache
.vscode

