# Python process
import.py
__pycache__

# Scanpy Caching
cache/*

# Nextflow
.nextflow
work
.nextflow.log*
tmp

# Environment
env
venv

# Raw Data Inputs
data/analysis*
backup/*

# Pipeline Output Directories
logs/*
figures/*
outs/*
multiqc/*
results/*

# CellRanger runners
# vdj.sh
# cellranger.sh

# Mac OS
.DS_Store

# Local Test Files
local/*

# Testing
.pytest_cache

# Editor
.vscode

# Terraform
.terraform/
.terraform.*
terraform.*
terraform/local.tf
local.tf
terraform/variables.tf
terraform/outputs.tf

# AWS
aws/*.pem

# Misc
old-README.md