# Python process
import.py
__pycache__

# Scanpy Caching
cache/*

# Nextflow
.nextflow
work
.nextflow.log*
tmp

# Environment
env
venv

# Raw Data Inputs
data/*
backup/*

# Pipeline Output Directories
logs/*
figures/*
outs/*

# CellRanger runners
vdj.sh
cellranger.sh

# Mac OS
.DS_Store

# Local Test Files
local/*

# Testing
.pytest_cache

# Editor
.vscode