

/*
 * Copyright (c) 2022, Matt Femia.
 *
 * This Source Code is subject to the terms of the MIT license included
 * in this project directory.
 *
 */
 
manifest {
  description = 'Post-analysis workflow for scRNA-seq data processed with CellRanger' 
  author = 'Matt Femia'
  nextflowVersion = '>=20.07.0'
}

/* 
 * default params 
 */
 
params.genes = "$baseDir/data"
params.analysis_file = "$projectDir/src/python/analysis.py"

/* 
 * Executor config templates for various environments  
 */ 

profiles {
  standard {
  }
  
  docker {
  }
  
  slurm {
  }
  
  batch {
  }

  's3-data' {
  } 

  gls {
  }  

  'gs-data' {
  }

  azb {
  }

  conda {
  }  
}