/*
 * Copyright (c) 2022, Matt Femia.
 *
 * This Source Code is subject to the terms of the MIT license included
 * in this project directory.
 *
 */
 
manifest {
  description = 'Post-analysis workflow for scRNA-seq data processed with CellRanger' 
  author = 'Matt Femia'
  nextflowVersion = '>=20.07.0'
}

/* 
 * default params 
 */
 
params.genes = "$baseDir/data"
params.analysis_file = "$projectDir/src/python/analysis.py"
params.qc_min_genes = 200
params.qc_min_cells = 3
params.qc_norm_cell_count = 10000
params.pca_color = "GAPDH"
params.umap_color = ['CST3', 'NKG7', 'GAPDH']
params.cluster_markers = ['IL7R', 'CD79A', 'MS4A1', 'CD8A', 'CD8B', 'LYZ', 'CD14', 'LGALS3', 'S100A8', 'GNLY', 'NKG7', 'KLRB1', 'FCGR3A', 'MS4A7', 'FCER1A', 'CST3']
params.figure_format = "tif"
params.figure_dpi = 300
params.cpu_count = 8

/* 
 * Executor config templates for various environments  
 */ 

profiles {
  standard {
    process.container = 'mattfemia/scrna-pipeline:latest'
  }
  
  docker {
    process.container = 'mattfemia/scrna-pipeline:latest'
    docker.enabled = true
  }
  
  slurm {
  }
  
  batch {
  }

  's3-data' {
  } 

  gls {
  }  

  'gs-data' {
  }

  azb {
  }

  conda {
  }  
}