anndata==0.8.0
cached-property==1.5.2
cycler==0.10.0
decorator==4.4.2
dunamai==1.5.5
get-version==3.2
h5py==3.3.0
igraph==0.9.11
importlib-metadata==4.6.1
joblib==1.0.1
kiwisolver==1.3.1
legacy-api-wrap==1.2
leidenalg==0.8.10
llvmlite==0.36.0
matplotlib==3.4.2
natsort==7.1.1
networkx==2.5.1
numba==0.53.1
numexpr==2.7.3
numpy==1.22.0
packaging==21.0
pandas==1.3.0
patsy==0.5.1
Pillow==8.3.0
pynndescent==0.5.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
scanpy==1.9.1
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
session-info==1.0.0
sinfo==0.3.4
six==1.16.0
statsmodels==0.12.2
stdlib-list==0.8.0
tables==3.6.1
texttable==1.6.4
threadpoolctl==2.1.0
tqdm==4.61.2
typing-extensions==3.10.0.0
umap-learn==0.5.1
xlrd==1.2.0
zipp==3.5.0
